extends layout

block content

    .row
        .col-md-12
            
            img.img-responsive.center-block(src="/images/logo2.png" class="" alt="Responsive image")
            
            script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            ins(class="adsbygoogle",
                style="display:inline-block;width:728px;height:90px",
                data-ad-client="ca-pub-4046357649059191",
                data-ad-slot="5529449861")
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});
            
            .page-header
                    h1(align='center') Bem vindo ao BruChat
            
            .col-md-6.col-md-offset-3
                            
                a.btn.btn-primary.btn-lg.center-block(href="/bruxo", style='') Iniciar Sessão
    <br>
    
    .col-md-3
        .page-header
            h3 O que é?
        p O BruChat é uma ferramenta online para auxiliar o cartomante durante uma sessão de cartomancia.
            
    .col-md-3
        .page-header
            h3 Como funciona?
        p Lorem ipsum
            
    .col-md-3
        .page-header
            h3 Faça uma doação.
        p A sobrevivência deste projeto, depende de você.
        .col-md-6
            form(action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post")
                 input(type="hidden", name="currency", value="BRL")
                 input(type="hidden", name="receiverEmail", value="vinicius.silv@hotmail.com")
                 input(type="image", src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/120x53-doar.gif", name="submit", alt="Pague com PagSeguro - é rápido, grátis e seguro!")
                
        .col-md-6
            form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                input(type="hidden", name="cmd", value="_s-xclick")
                input(type="hidden", name="hosted_button_id", value="UEXJ5X9G22N8L")
                input(type="image", src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif", border="0", name="submit", alt="PayPal - A maneira fácil e segura de enviar pagamentos online!")
                img(alt="", border="0", src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif", width="1", height="1")
             
    .col-md-3
        .page-header
            h3 Na Rede.
        p Acompanhe nosso Facebook e Twitter para ficar por dentro das novidades que serão lançadas.
        .col-md-3
            a(href="https://www.facebook.com/bruchatonline")
                img.center-block(width='32' src='/images/social_facebook.png')
        .col-md-3
            a(href="#")
                img.center-block(width='32' src='/images/social_youtube.png')
        .col-md-3
            a(href="#")
                img.center-block(width='32' src='/images/social_twitter.png')
        .col-md-3
            a(href="#")
                img.center-block(width='32' src='/images/social_plus.png')
            
    .col-md-12
        script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        
        ins(class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4046357649059191"
            data-ad-slot="8622517067"
            data-ad-format="auto")
            
        script.
            (adsbygoogle = window.adsbygoogle || []).push({});
    
block script
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-75743946-1', 'auto');
        ga('send', 'pageview');
        
    script.
        fbq('track', 'ViewContent');